@media (max-width: 779px){
    .SetProfile{
    label{
        position: relative;
        width: 100%;
        display: block;
        img{
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
}
}