*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  color: grey;
  font-family: 'SFUITextRegular',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
@media (max-width: 779px){
 

}
 .container{
    max-width: 500px!important;
    margin: auto;
    padding: 0 20px;
  }
.App{
  position: relative;
  min-height: 100vh;
}
.copyright{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 10px;
}
.signin{
        color: white;
        font-weight: 600;
        background: #FF6265;
        padding: 1rem 8rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        
    }
.signin:focus{
            outline: none;
        }
        .new-account{
        color: #FF6265;
        margin: 4rem 0;

    }
    .form-input{
            padding: 1rem 1rem;
            color: grey;
            border: 1px solid lightgrey;
            background: transparent;
            display: block;
            width: 100%;
            margin:3rem 0;
            border-radius: 6px;
            
        }
        .form-input:focus{
                background: transparent;
            }